zopfli
zipp
yarl
xml-python
xlsxwriter
xlrd
xgboost
xarray
xarray-einstats
wsproto
wrapt
wordcloud
werkzeug
websockets
websocket-client
webencodings
weasyprint
wcwidth
watchfiles
wasabi
wand
uvloop
uvicorn
ujson
tzlocal
typing-extensions
typer
trimesh
traitlets
tqdm
tornado
torchvision
torchtext
torchaudio
torch
toolz
tomli
toml
tinycss2
tifffile
threadpoolctl
thinc
theano-pymc
textract
textblob
text-unidecode
terminado
tenacity
tabulate
tabula
tables
sympy
svgwrite
svglib
statsmodels
starlette
stack-data
srsly
speechrecognition
spacy
spacy-legacy
soupsieve
soundfile
sortedcontainers
snuggs
sniffio
smart-open
slicer
shapely
shap
sentencepiece
send2trash
semver
seaborn
scipy
scikit-learn
scikit-image
rpds-py
resampy
requests
reportlab
regex
referencing
rdflib
rasterio
rarfile
qrcode
pyzmq
pyzbar
pyyaml
pyxlsb
pywavelets
pytz
pyttsx3
python-pptx
python-multipart
python-dotenv
python-docx
python-dateutil
pyth3
pytest
pytesseract
pyswisseph
pyshp
pyprover
pyproj
pyphen
pypdf2
pyparsing
pypandoc
pynacl
pymupdf
pymc3
pyluach
pylog
# pygraphviz==1.7
pygments
pydyf
pydub
pydot
pydantic
pycryptodome
pycparser
pycountry
py
pure-eval
ptyprocess
psutil
pronouncing
prompt-toolkit
prometheus-client
proglog
priority
preshed
pooch
pluggy
plotnine
plotly
platformdirs
pkgutil-resolve-name
pillow
pickleshare
pexpect
pdfrw
pdfplumber
pdfminer.six
pdfkit
pdf2image
patsy
pathy
parso
paramiko
pandocfilters
pandas
packaging
orjson
opt-einsum
openpyxl
opencv-python
olefile
odfpy
numpy
numpy-financial
numexpr
numba
notebook
notebook-shim
nltk
networkx
nest-asyncio
nbformat
nbconvert
nbclient
nbclassic
nashpy
mutagen
murmurhash
munch
multidict
mtcnn
mpmath
moviepy
monotonic
mne
mizani
mistune
matplotlib
matplotlib-venn
matplotlib-inline
markupsafe
markdownify
markdown2
lxml
loguru
llvmlite
librosa
korean-lunar-calendar
kiwisolver
kerykeion
keras
jupyterlab
jupyterlab-server
jupyterlab-pygments
jupyter-server
jupyter-core
jupyter-client
jsonschema
jsonschema-specifications
jsonpickle
json5
joblib
jinja2
jedi
jax
itsdangerous
isodate
ipython
ipython-genutils
ipykernel
iniconfig
importlib-resources
importlib-metadata
imgkit
imapclient
imageio
imageio-ffmpeg
hyperframe
hypercorn
httpx
httptools
httpcore
html5lib
hpack
h11
h5py
h5netcdf
h2
gtts
graphviz
gradio
geopy
geopandas
geographiclib
gensim
fuzzywuzzy
future
frozenlist
fpdf
fonttools
folium
flask
flask-login
flask-cors
flask-cachebuster
fiona
filelock
ffmpy
ffmpeg-python
fastprogress
fastjsonschema
fastapi
faker
extract-msg
executing
exchange-calendars
exceptiongroup
et-xmlfile
entrypoints
email-validator
einops
ebooklib
ebcdic
docx2txt
dnspython
dlib
dill
deprecat
defusedxml
decorator
debugpy
# dbus-python==1.2.16
cryptography
countryinfo
compressed-rtf
comm
cmudict
cloudpickle
cligj
click
click-plugins
charset-normalizer
chardet
cffi
catalogue
camelot-py
cairosvg
cairocffi
cachetools
brotli
branca
bokeh
blis
blinker
bleach
beautifulsoup4
bcrypt
basemap
basemap-data
backports.zoneinfo
backoff
backcall
babel
audioread
attrs
async-timeout
asttokens
arviz
argon2-cffi
argon2-cffi-bindings
argcomplete
anytree
anyio
analytics-python
aiosignal
aiohttp
affine
absl-py
wheel
urllib3
# unattended-upgrades
six
setuptools
requests-unixsocket
# python-apt+ubuntu0.20.4.1
pygobject
# pyaudio==0.2.11
pip
idna
distro-info
certifi

